<div class="row">
    <form class="col s12">
        <div clas="row">
            <div class="input-field col s8 offset-s2">
                <input type="text" placeholder="Usuario" ng-model="user"></input>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input type="number" placeholder="Password" ng-model="pass"></input>
            </div>
        </div>
        <div class="row" name="btn-login">
            <div class="center-align">
                <button class="btn waves-effect waves-light" ng-click="lc.tryLogin()">Entrar
                </button>
            </div>
        </div>
        
        <div class="row" name="btn-register">
            <div class="center-align">
                <button class="btn waves-effect waves-light" ng-click="register()">Registrate
                </button>
            </div>
        </div>
    </form>
</div>