<div id="inView" class="light-green accent-1">
    <header id="headerLogin" class="center-align">
        <h2 id="h2Login" class="green-text text-accent-4">Instaltrán</h2>
    </header>

    <div class="row">
        <form class="col s12">
            <div clas="row">
                <div class="input-field col s10 offset-s1">
                    <i class="material-icons light-green-text text-darken-4 prefix">accessibility</i>
                    <input class="light-green-text text-darken-4" type="text" ng-model="lc.user"></input>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="material-icons light-green-text text-darken-4 prefix">visibility_off</i>
                    <input class="light-green-text text-darken-4" type="password" ng-model="lc.pass"></input>
                </div>
            </div>
            <div class="row" name="btn-login">
                <div class="center-align">
                    <button class="btn waves-effect waves-light light-green darken-2 light-green-text text-lighten-5" ng-click="lc.tryLogin()">
                        <i class="material-icons right light-green-text text-lighten-5">exit_to_app</i>Entrar</button>
                </div>
            </div>

            <div class="row " name="btn-register"> <!--style="position : fixed; bottom: 0px; margin-bottom:30px; left: 0px; right: 0px; padding-top: 0px">-->
                <div class="center-align">
                    <button class="btn waves-effect waves-light light-green darken-2 light-green-text text-lighten-5" ng-click="lc.goRegister()">
                        <i class="material-icons right light-green-text text-lighten-5">border_color</i>Registrate</button>
                </div>
            </div>
        </form>
    </div>
</div>