<header style="position : fixed; top: 0px; left:0px; right: 0px;">
    <div class="center-align light-green darken-4">
        <h2 class="light-green-text text-accent-1" style="margin-top: 0px; margin-bottom: 0px; font-weight: 600; font-style: bold;">Instaltrán</h2>
    </div>
</header>

<div ui-view style="padding-top: 54px; padding-bottom:62px;"></div>

<footer class="row light-green darken-4" style="float: none; position : fixed; bottom: 0px; margin-bottom:0px; left: 0px; right: 0px; padding-top: 0px">
    <div ng-class="ic.classTimelineBackground">
        <i ng-class="ic.classTimelineIcon" ng-click="ic.goTimeline()">view_day</i>
    </div>
    <div ng-class="ic.classSharePhotoBackground">
        <i ng-class="ic.classSharePhotoIcon" ng-click="ic.goSharePhoto()">add_a_photo</i>
    </div>
</footer>