<header id="insideHeader">
    <div class="row  light-green darken-4">
        <div class="col s10 center-align">
            <h2 id="insideH2" class="light-green-text text-accent-1">Instaltrán</h2>
        </div>
        <div class="col s2 center-align">
            <i id="insideLoggoutBtn" class="material-icons small light-green-text text-lighten-3" ng-click="ic.loggout()">power_settings_new</i>
        </div>
    </div>
</header>

<div id="insideView" ui-view ></div>

<footer id="insideFooter" class="row light-green darken-4">
    <div ng-class="ic.classTimelineBackground">
        <i ng-class="ic.classTimelineIcon" ng-click="ic.goTimeline()">view_day</i>
    </div>
    <div ng-class="ic.classSharePhotoBackground">
        <i ng-class="ic.classSharePhotoIcon" ng-click="ic.goSharePhoto()">add_a_photo</i>
    </div>
</footer>