<div id="inView" class="light-green accent-1">
    <header id="headerLogin" class="center-align">
        <h3 id="h2Login" class="green-text text-accent-4">Únete =)</h2>
    </header>

    <div class="row">
        <form class="col s12">
            <div clas="row">
                <div class="input-field col s10 offset-s1">
                    <i class="material-icons light-green-text text-darken-4 prefix">accessibility</i>
                    <input class="light-green-text text-darken-4" type="text" ng-model="rc.user"></input>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="material-icons light-green-text text-darken-4 prefix">visibility_off</i>
                    <input class="light-green-text text-darken-4" type="password" ng-model="rc.pass"></input>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <i class="material-icons light-green-text text-darken-4 prefix">visibility_off</i>
                    <input class="light-green-text text-darken-4" type="password" ng-model="rc.passre"></input>
                </div>
            </div>
            <div class="row" name="btn-login">
                <div class="center-align">
                    <button class="btn waves-effect waves-light light-green darken-2 light-green-text text-lighten-5" ng-click="rc.tryRegister()">
                        <i class="material-icons right light-green-text text-lighten-5">exit_to_app</i>Terminado</button>
                </div>
            </div>           
        </form>
    </div>
</div>